*{
    margin: 0%;
    box-sizing: border-box;
}
header nav{
    position: sticky;
    display: flex;
    margin-top: 3%;
    margin-left: 60%
}
header nav h3{
    font-family: "Poppins",serif;
    margin-left: 50px;
    cursor: pointer;
}
header nav img{
    margin-top: -2%;
    margin-left: 5%;
}
.logo img{
    margin-top: -5%;
    margin-left: 3%;
    width: 4.5%;
    height: 7vh;
    cursor: pointer;
}
.logo1 img{
    margin-top: -25%;
    margin-left: 46%;
    height: 30%;
    width: 41%;
}
section h1{
    font-size: 34.26px;
    font-weight: 500;
    margin-left: 63px;
    margin-top: 200px;
    font-family: "Poppins",serif;
    background: #3A05F8;
    background: linear-gradient(to right, #3A05F8 0%, #FF14B9 17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section p{
    font-size: 24px;
    margin-left: 63px;
    margin-top: 10px;
    font-family: "Poppins",serif;
    width: 580px;
    text-align:left;
}
.social{
    margin-top: 100px;
    margin-left: 55px ;
}
.social img{
    height: 20px;
    margin-left: 10px;
}
.about h3{
    font-family: "Poppins",serif;
    text-align: center;
    font-size: 24px;
    background: #3A05F8;
    background: linear-gradient(to right, #3A05F8 0%, #FF14B9 17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about p{
    font-family: "Poppins", serif;
    text-align: center;
}

