*{
    margin: 0%;
    box-sizing: border-box;
}
header nav{
    position: sticky;
    display: flex;
    margin-top: 3%;
    margin-left: 60%
}
header nav h3{
    font-family: "Poppins",serif;
    margin-left: 50px;
    cursor: pointer;
}
header nav img{
    margin-top: -2%;
    margin-left: 5%;
}
.logo img{
    margin-top: -5%;
    margin-left: 3%;
    width: 4.5%;
    height: 7vh;
    max-width:230px;
    max-height:95px;
    cursor: pointer;
}
.logo1 img{
    margin-top: -40%;
    margin-left: 46%;
    height: 30%;
    width: 41%;
}
section h1{
    font-size: 34.26px;
    font-weight: 500;
    margin-left: 63px;
    margin-top: 200px;
    font-family: "Poppins",serif;
    background: #3A05F8;
    background: linear-gradient(to right, #3A05F8 0%, #FF14B9 17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section p{
    font-size: 24px;
    margin-left: 63px;
    margin-top: 10px;
    font-family: "Poppins",serif;
    width: 580px;
    text-align:left;
}
.social{
    margin-top: 100px;
    margin-left: 55px ;
}
.social img{
    height: 20px;
    margin-left: 10px;
}
.about h2{
    font-family: "Poppins",serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
    background: #3A05FB;
    background: linear-gradient(to right, #3A05FB 39%, #FF14B9 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    

    }
.about p{
    font-family: "Poppins", serif;
    text-align: left;
    margin-top: 1%;
    margin-left: 32%;
    width: 40%;
}
article{
    margin-top: 5%;
    display: flex;
}
article h4{
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    background: #3A05FB;
    background: linear-gradient(to right, #3A05FB 39%, #FF14B9 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.designing{
    border: 1px solid #d9d9d9;
    background-color: #D9D9D9;
    border-radius: 50px;
    margin-left: 10%;
    padding: 20px;
    width: 25%;

}
.designing p{
    max-width: fit-content;
    margin-left: 10px;
    padding: 30px;
    aspect-ratio: 1
}
.designing img{
    margin-left: 43%;
}
.coding{
    border: 1px solid #d9d9d9;
    background-color: #D9D9D9;
    border-radius: 50px;
    margin-left: 3%;
    padding: 20px;
    width: 25%;

}
.coding p{
    max-width: fit-content;
    margin-left: 10px;
    padding: 30px;
    aspect-ratio: 1
}
.coding img{
    margin-left: 44%;
}
.teamwork{
    border: 1px solid #d9d9d9;
    background-color: #D9D9D9;
    border-radius: 50px;
    margin-left: 3%;
    padding: 20px;
    width: 25%;

}
.teamwork p{
    max-width: fit-content;
    margin-left: 10px;
    padding: 30px;
    aspect-ratio: 1
}
.teamwork img{
    margin-left: 43%;
}
div img{
    margin-top: 5%;
    margin-bottom: 5%;
}
article div {
    border: 1px black;
}
#projects{
    margin-top: 15%;
}
#projects h3{
    margin-top: 30%;
    margin-left: 60%;
    font-size: 34.26px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #3A05FB;background: linear-gradient(to right, #3A05F8 0%, #FF14B9 17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#projects p{
    margin-left: 50%;
}
.personal1{
    margin-top: -10%;
    margin-left: 3%;
    border: 1px solid red;
    border-radius: 20px;
    aspect-ratio: 1.2v;
    max-width: 17%;
}
.personal1 h4{
    margin-top: 50%;
    margin-left: 60%;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #3A05FB 15%, #FF14B9 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.personal1 img{
    max-width: 250px;
    margin-top: -20%;
}
.personal2{
    margin-top: -25%;
    margin-left: 3%;
    border: 1px solid red;
    border-radius: 20px;
    aspect-ratio: 1.2v;
    max-width: 17%;
}
.personal2 h4{
    margin-top: 50%;
    margin-left: 60%;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #3A05FB 15%, #FF14B9 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.personal3{
    margin-top: -8%;
    margin-left: 21%;
    border: 1px solid red;
    border-radius: 20px;
    aspect-ratio: 1.2v;
    max-width: 17%;
}
.personal3 h4{
    margin-top: 50%;
    margin-left: 60%;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #3A05FB 15%, #FF14B9 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.personal4{
    margin-top: 1%;
    margin-left: 21%;
    border: 1px solid red;
    border-radius: 20px;
    aspect-ratio: 1.2v;
    max-width: 17%;
}
.personal4 h4{
    margin-top: 50%;
    margin-left: 60%;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #3A05FB 15%, #FF14B9 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}